function Game.new 0
push constant 6
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 0
push constant 0
push constant 5
call Bat.new 2
pop this 1
push constant 502
push constant 3
call Bat.new 2
pop this 2
call Ball.new 0
pop this 3
push constant 0
pop this 4
push constant 0
pop this 5
push pointer 0
return
function Game.run 0
push argument 0
pop pointer 0
push this 3
call Ball.draw 1
pop temp 0
push this 1
call Bat.draw 1
pop temp 0
push this 2
call Bat.draw 1
pop temp 0
label WHILE_EXP0
push this 0
push constant 0
eq
not
if-goto WHILE_END0
push pointer 0
call Game.playerLogic 1
pop temp 0
push pointer 0
call Game.ballLogic 1
pop temp 0
push pointer 0
call Game.aiLogic 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Game.playerLogic 1
push argument 0
pop pointer 0
call Keyboard.keyPressed 0
pop this 4
push this 4
push constant 0
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 1
call Bat.copy 1
pop local 0
push this 1
push this 4
call Bat.changePosition 2
pop temp 0
push local 0
call Bat.erase 1
pop temp 0
push this 1
call Bat.draw 1
pop temp 0
push local 0
call Bat.dispose 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Game.aiLogic 1
push argument 0
pop pointer 0
push constant 0
pop this 5
push this 3
call Ball.getY 1
push this 2
call Bat.getYLT 1
lt
push this 3
call Ball.getY 1
push this 2
call Bat.getYRB 1
gt
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 3
call Ball.getY 1
push this 2
call Bat.getYLT 1
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 131
pop this 5
goto IF_END1
label IF_FALSE1
push constant 133
pop this 5
label IF_END1
push this 2
call Bat.copy 1
pop local 0
push this 2
push this 5
call Bat.changePosition 2
pop temp 0
push local 0
call Bat.erase 1
pop temp 0
push this 2
call Bat.draw 1
pop temp 0
push local 0
call Bat.dispose 1
pop temp 0
label IF_FALSE0
push constant 0
return
function Game.ballLogic 5
push argument 0
pop pointer 0
call Keyboard.keyPressed 0
pop this 4
push this 3
call Ball.copy 1
pop local 4
push this 3
call Ball.getDirection 1
pop local 0
push local 0
call Vector2.getY 1
pop local 3
push this 3
call Ball.getX 1
push this 1
call Bat.getXRB 1
gt
push this 3
call Ball.getX 1
push this 3
call Ball.getRadius 1
sub
push local 0
call Vector2.getX 1
add
push this 1
call Bat.getXRB 1
lt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 3
call Ball.getX 1
push this 3
call Ball.getRadius 1
sub
push this 1
call Bat.getXRB 1
sub
pop local 1
push local 3
push local 1
call Math.multiply 2
push local 0
call Vector2.getX 1
call Math.divide 2
pop local 3
push local 3
push constant 0
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 3
neg
push this 3
call Ball.getY 1
push this 3
call Ball.getRadius 1
sub
gt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 2
push this 3
call Ball.getRadius 1
call Math.multiply 2
push this 3
call Ball.getY 1
sub
push local 3
sub
pop local 2
goto IF_END2
label IF_FALSE2
push this 3
call Ball.getY 1
push local 3
add
pop local 2
label IF_END2
goto IF_END1
label IF_FALSE1
push local 3
push constant 255
push this 3
call Ball.getY 1
sub
push this 3
call Ball.getRadius 1
sub
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 2
neg
push this 3
call Ball.getRadius 1
call Math.multiply 2
push constant 510
add
push local 3
sub
push this 3
call Ball.getY 1
sub
pop local 2
goto IF_END3
label IF_FALSE3
push this 3
call Ball.getY 1
push local 3
add
pop local 2
label IF_END3
label IF_END1
push local 2
push this 3
call Ball.getRadius 1
add
push this 1
call Bat.getYLT 1
gt
push local 2
push this 3
call Ball.getRadius 1
sub
push this 1
call Bat.getYRB 1
lt
and
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 3
push this 1
push this 4
call Ball.hitBat 3
pop temp 0
goto IF_END4
label IF_FALSE4
push constant 0
not
pop this 0
label IF_END4
goto IF_END0
label IF_FALSE0
push this 3
call Ball.getX 1
push this 2
call Bat.getXLT 1
lt
push this 3
call Ball.getX 1
push this 3
call Ball.getRadius 1
add
push local 0
call Vector2.getX 1
add
push this 2
call Bat.getXLT 1
gt
and
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push this 2
call Bat.getXLT 1
push this 3
call Ball.getX 1
sub
push this 3
call Ball.getRadius 1
sub
pop local 1
push local 3
push local 1
call Math.multiply 2
push local 0
call Vector2.getX 1
call Math.divide 2
pop local 3
push local 3
push constant 0
lt
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push local 3
neg
push this 3
call Ball.getY 1
push this 3
call Ball.getRadius 1
sub
gt
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push constant 2
push this 3
call Ball.getRadius 1
call Math.multiply 2
push this 3
call Ball.getY 1
sub
push local 3
sub
pop local 2
goto IF_END7
label IF_FALSE7
push this 3
call Ball.getY 1
push local 3
add
pop local 2
label IF_END7
goto IF_END6
label IF_FALSE6
push local 3
push constant 255
push this 3
call Ball.getY 1
sub
push this 3
call Ball.getRadius 1
sub
gt
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push constant 2
neg
push this 3
call Ball.getRadius 1
call Math.multiply 2
push constant 510
add
push local 3
sub
push this 3
call Ball.getY 1
sub
pop local 2
goto IF_END8
label IF_FALSE8
push this 3
call Ball.getY 1
push local 3
add
pop local 2
label IF_END8
label IF_END6
push local 2
push this 3
call Ball.getRadius 1
add
push this 2
call Bat.getYLT 1
gt
push local 2
push this 3
call Ball.getRadius 1
sub
push this 2
call Bat.getYRB 1
lt
and
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push this 3
push this 2
push this 5
call Ball.hitBat 3
pop temp 0
goto IF_END9
label IF_FALSE9
push constant 0
not
pop this 0
label IF_END9
goto IF_END5
label IF_FALSE5
push this 3
call Ball.moveX 1
pop temp 0
label IF_END5
label IF_END0
push this 3
call Ball.moveY 1
pop temp 0
push local 4
call Ball.erase 1
pop temp 0
push this 3
call Ball.draw 1
pop temp 0
push local 4
call Ball.dispose 1
pop temp 0
push constant 0
return
function Game.dispose 0
push argument 0
pop pointer 0
push this 1
call Bat.dispose 1
pop temp 0
push this 2
call Bat.dispose 1
pop temp 0
push this 3
call Ball.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
